.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    word-spacing: 10px;
  }
}

@media screen and (max-width: 505px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
    margin: 0 auto;
  }
}