.cover__subtitle {
  margin: 32px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  max-width: 360px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
.cover__subtitle {
  margin: 28px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  max-width: 380px;
  }
}

@media screen and (max-width: 505px) {
.cover__subtitle {
  margin: 16px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  max-width: 288px;
  }
}