.intro__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 505px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}